.circle {
    height: 450px;
    width: 450px;
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
    border-radius: 50%;
    display: inline-block;
    display: flex;
    margin: auto;
  }

  .circle-container {
    display: flex;
    margin: 20px 0;
  }

  .circle h1 {
    margin: auto;
  }

.sun {
   float: right; 
   padding: 20px;
}

.black-doble-border-bottom {
border-bottom: 10px black double;
}

.black-doble-border-left {
    border-left: 10px black double;
}
.submit-form {
    width: 100%;
    background-color: black;
    color: white;
    padding: 0 25px;
    margin-bottom: 20px;
}

#blog-form {
    margin: 10px;
}
